FleetManagement/Client/Connected Services/FleetServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:AddVehicle" />
  </wsdl:message>
  <wsdl:message name="IService_AddVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVehicle" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllVehicles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVehicles" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllVehicles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IService_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmployee" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployees" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddBusinessUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBusinessUnit" />
  </wsdl:message>
  <wsdl:message name="IService_AddBusinessUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBusinessUnitResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveBusinessUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBusinessUnit" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveBusinessUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBusinessUnitResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllBusinessUnits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBusinessUnits" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllBusinessUnits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBusinessUnitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IService_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditBusinessUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBusinessUnit" />
  </wsdl:message>
  <wsdl:message name="IService_EditBusinessUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBusinessUnitResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CanRemoveBusinessUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:CanRemoveBusinessUnit" />
  </wsdl:message>
  <wsdl:message name="IService_CanRemoveBusinessUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CanRemoveBusinessUnitResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddVehicle" message="tns:IService_AddVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddVehicleResponse" message="tns:IService_AddVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveVehicle" message="tns:IService_RemoveVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveVehicleResponse" message="tns:IService_RemoveVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllVehicles">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllVehicles" message="tns:IService_GetAllVehicles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllVehiclesResponse" message="tns:IService_GetAllVehicles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddEmployee" message="tns:IService_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddEmployeeResponse" message="tns:IService_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveEmployee" message="tns:IService_RemoveEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveEmployeeResponse" message="tns:IService_RemoveEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllEmployees" message="tns:IService_GetAllEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllEmployeesResponse" message="tns:IService_GetAllEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBusinessUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddBusinessUnit" message="tns:IService_AddBusinessUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddBusinessUnitResponse" message="tns:IService_AddBusinessUnit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBusinessUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveBusinessUnit" message="tns:IService_RemoveBusinessUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveBusinessUnitResponse" message="tns:IService_RemoveBusinessUnit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBusinessUnits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllBusinessUnits" message="tns:IService_GetAllBusinessUnits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllBusinessUnitsResponse" message="tns:IService_GetAllBusinessUnits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ChangePassword" message="tns:IService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ChangePasswordResponse" message="tns:IService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllUsers" message="tns:IService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllUsersResponse" message="tns:IService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteUser" message="tns:IService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteUserResponse" message="tns:IService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddUser" message="tns:IService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddUserResponse" message="tns:IService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditUser" message="tns:IService_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditUserResponse" message="tns:IService_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBusinessUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditBusinessUnit" message="tns:IService_EditBusinessUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditBusinessUnitResponse" message="tns:IService_EditBusinessUnit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CanRemoveBusinessUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CanRemoveBusinessUnit" message="tns:IService_CanRemoveBusinessUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CanRemoveBusinessUnitResponse" message="tns:IService_CanRemoveBusinessUnit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddVehicle">
      <soap:operation soapAction="http://tempuri.org/IService/AddVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveVehicle">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllVehicles">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/IService/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveEmployee">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllEmployees">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBusinessUnit">
      <soap:operation soapAction="http://tempuri.org/IService/AddBusinessUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBusinessUnit">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveBusinessUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBusinessUnits">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllBusinessUnits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/IService/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBusinessUnit">
      <soap:operation soapAction="http://tempuri.org/IService/EditBusinessUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanRemoveBusinessUnit">
      <soap:operation soapAction="http://tempuri.org/IService/CanRemoveBusinessUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Server/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>